@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Izdavanje faktura</h1>
    <p class="lead">Sustav omogućava zaposlenicima unos i pregled faktura.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Stvori fakturu</h2>
        <p>
            Lorem ipsum
        </p>
        <button class="btn-group">
            @Html.ActionLink("Stvori fakturu", "Index", new { controller = "Products" })
        </button>
    </div>
    <div class="col-md-4">
        <h2>Pregled faktura</h2>
        <p>
            Lorem ipsum
        </p>
        <button class="btn-group">
            @Html.ActionLink("Pregled faktura", "Index", new { controller = "Products" })
        </button>
    </div>
</div>