@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Izdavanje faktura</h1>
    <p class="lead">Sustav omogućava zaposlenicima unos i pregled faktura.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Stvori fakturu</h2>
        <p>
            Lorem ipsum
        </p>
        <button class="btn btn-primary">Stvori fakturu</button>
    </div>
    <div class="col-md-4">
        <h2>Pregled faktura</h2>
        <p>
            Lorem ipsum
        </p>
        <button class="btn btn-primary">Pregled svih faktura</button>
    </div>
</div>