@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Izdavanje faktura</h1>
    <p class="lead">Sustav omogućava zaposlenicima podzuća unos, pregled i ispis faktura.</p>
</div>

<div class="row">
    <h2>Pregled i stavaranje faktura</h2>
    <p>
        Lorem ipsum
    </p>
    <button class="btn-default – Default">
        @Html.ActionLink("Pregled i stvaranje faktura", "Index", new { controller = "Invoices" })
    </button>
</div>